* {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    font-family: garamond;
}
body {
     background-color: rgb(53, 22, 22);
}
::selection {
    background-color:  rgb(199, 188, 203);
}
.head{
    background-color: beige;
    text-align: center;
    font-family: garamond;
    color:#DAA520;
    font-size: 35px;
    border-radius: 20px;
    padding: 5px;
    margin: 40px;
}
.text0{
    color: #DAA520 ;
    font-size: 2em;
    margin: 15px;
}
.container1{
    display: flex;
    margin: 30px;
    gap: 100px;
}
.container1 img{
    width: 680px;
    height: 990px;
    border-radius: 15px;
    translate: 0 45px;
}
.container1 img:hover{
    transform: scale(1.02); 
    transition: transform 0.3s ease;
}
.container1_text{
    color: beige;
    font-size: 27px;
    text-shadow: 2px 2px 4px black;
  
    line-height: 1.8; 
}
.container1_text::first-line{
    font-size: 30px;
    font-weight: bold;
}
.container2{  display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: flex-start;
    flex-wrap: wrap; /* لو الشاشة صغيرة يخليهم تحت بعض */
}
.container2_text h2{
    color: #DAA520 ;

    font-size: 40px;
}
.container2_text p{
    color: beige;
    font-size: 24px;
    text-shadow: 2px 2px 4px black;
    line-height: 2;
    width: 600px;
}
.container2 video{
    width: 1000px;
    height: 400px;
    border-radius: 15px;
}
.ending{
     display: flex;
    margin: 30px;
    gap: 100px;
}
.ending_right h2{
    color: #DAA520 ;
    font-size: 40px;

}
.ending_right p{
    color: beige;
    font-size: 24px;
    text-shadow: 2px 2px 4px black;
    line-height: 2;
    width: 650px;
}
.ending_right a{
    color: #DAA520 ;
    font-size: 24px;
    text-shadow: 2px 2px 4px black;
    line-height: 2;
    width: 650px;
    text-decoration: none;
    background-color: black;
    padding: 20px;
    border-radius: 10px;
}
.ending_right a:hover{
    background-color: #DAA520 ;
    color: black;
    transition: 0.3s;
}
.ending_left{
    background: url(./photo/91BzzP6G1FL._AC_UF1000\,1000_QL80_.jpg) no-repeat ;
    width: 700px;
    
}
.ending_left h2{
    color: #DAA520 ;
    font-size: 40px;
    text-align: left;
    translate: 0px 325px;
}
.visit-box{
    color: beige;
    font-size: 24px;
    text-shadow: 2px 2px 4px black;
    line-height: 2;
    width: 650px;
    translate: 20px 350px;
    line-height: 2;
}
.visit-box:hover{
    transform: scale(1.02); 
    transition: transform 0.3s ease;
    
}
