body{
    background-color: rgb(243, 229, 162);
    background-image: url(photo/photo_2025-05-01_01-47-20.jpg);
    background-size: cover;
}
h1{
    text-align: center;
    color: rgb(103, 54, 27);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: xx-large;
}

#form1{
    text-align: left; 
}
#form2{
    text-align: right;
    display: none;
}
.formsContainer{
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}
form input{
    width: 300px;

    padding: 10px;
    font-size: 16px;
    border: 7px solid #2f1f13;
    border-radius: 5px;
    font-style: inherit;
    background-color: rgb(252, 241, 196);
}
form button{
    padding: 10px 20px;
    font-size: 20px;
    font-style: normal;
    color: white;
    background-color: rgb(21, 21, 47);
    cursor: pointer;
    border-radius: 15px;

}
form button:hover{
    background-color: #000000;
}
.left_arrow::after{
    content: "→";
    margin-left: 5px;

}
.check::after{
    content:"✓" ;
    margin-left: 5px;
}
label{
    font-size: 25px;
    color: #2f1f13;
    font-weight: bold;
}
#number{
    width: 250px;
}
#address{
    width: 320px;
}
#tickets{
    width: 332px;
}
#time{
    width: 360px;
}
.p1{
    color: rgb(255, 234, 171);
    font-weight: lighter;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}