body{
    background-color: rgb(53, 22, 22);
    
}
::selection{
    background-color: rgb(199, 188, 203);
}
.head{
    background-color: beige;
    text-align: center;
    font-family: garamond;
    color: rgb(53, 22, 22);
    font-size: 5em;
    border-radius: 20px;
    padding: 5px;
    margin: 50px;
}

.sec{
    display: flex;
}
div>p{
    color: beige;
    margin: 15px;
    font-size: 2em;
    text-shadow: 2px 2px 4px black;
}
img{
    width: 500px;
    border: 2px solid white;
    border-radius: 10px;
}
