body{
    background-color: rgb(53, 22, 22);
    
}

::selection{
    background-color: rgb(199, 188, 203);
}
.head{
    background-color: beige;
    text-align: center;
    font-family: garamond;
    color: rgb(53, 22, 22);
    font-size: 5em;
    border-radius: 20px;
    padding: 5px;
    margin: 40px;
}

section{
    display: flex;
    gap: 10px;
}
section>div{
    color: beige;
    margin: 15px;
    font-size: 2em;
    
}
img{
    width: 500px;
    border: 2px solid beige;
    border-radius: 10px;
}

video{
    width: 500px;
    border: 2px solid beige;
    border-radius: 10px;
}

.text{
    display: flex;
    justify-content: center;
    gap: 30px;
    background-color: rgba(0, 0, 0, 0.3); 
    border-radius: 15px;
    flex-wrap: wrap;
    padding: 20px;
}

.visit-box {
    border: 1px solid beige;
    padding: 15px 25px;
    color: beige;
    font-size: 25px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    text-align: center;
}

.booking{
    font-family: "ubuntu", sans-serif;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
    flex-wrap: wrap;
    border-radius: 15px;
    padding: 15px;
    font-size: 3em;
    transform: 0.1s;
}
.booking:hover{
    background-color: beige ;
}

.link{
    color: beige;
    text-decoration: none;
    letter-spacing: 1px;
    transition: .1s;
}
.link:hover{
    color: rgb(82, 67, 67);
}