@font-face {
  font-family: 'Ubuntu';
  src: url('Fonts/Ubuntu,Ubuntu_Sans/Ubuntu/Ubuntu-Bold.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

* {
    font-family: "Ubuntu", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing:border-box; 
    scroll-behavior: smooth;
}
::selection {
    background-color: #d4af37;
    color: #3d3d3d;
}

body {
    display: flex;
    min-height: 100vh; 
    background-color:rgba(0, 0, 0, 0.884); 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    flex-direction: column;
    width: 100%; 
    padding: 20px;  
    padding-top: 100px;
}


/* this is the navbar */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 10px 0px; 
    background-color: rgba(0, 0, 0, 0.548); 
    border-radius: 10px; 
    margin-bottom: 30px; 
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    animation: head 2s ease-in-out;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.2); 
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px);  
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-transform: uppercase;
    color:goldenrod;
    padding: 15px 50px; 
    font-family: serif;
}
.logo-title {
    font-size: 50px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 10px;
    color: goldenrod;
}
.logo img {
    height: 50px;
    margin-right: 10px;
}

ul {
    list-style: none;
    display: flex;
    gap: 100px; 
    font-size: 20px;
    margin-right: 50px;
}

.link {
    padding: 8px 15px; 
    border-radius: 8px; 
    border: 3px burlywood double; 
    color: goldenrod;
    text-decoration: none;
    transition: background-color 0.5s ease, color 0.5s ease; 
    font-size:20px ;
}

.link:hover {
    color: black;
    background-color:goldenrod;
    border: 3px black double;
    text-decoration: none; 
    
}


@keyframes head {
    from {
        opacity: 0;
        transform: translatey(-10px); 
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

/* welcome to egypt & vedio */

.video_container{
   
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
video{
    width: 100%;
    height:100%;
    object-fit: cover;
}
.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.7) 100%);
}
.hero-content {
    text-align: center;
    color: var(--white);
    padding: 0 2rem;
    max-width: 1200px;
    margin: 0 auto;
    z-index: 1;
}
.h11{
    color:black;
    display: flex;
    justify-content: center;
    font-size: 4.5rem;
    font-family: 'Times New Roman', Times, serif;
    text-shadow:5px 2px 5px rgba(255, 217, 0, 0.667);
    position: relative;
    overflow: hidden;
    margin-top: 130px;
    margin-bottom: 1.5rem ;
}
.hero-content p {
    font-size: 1.5rem;
    margin-bottom: 2.5rem;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.6;
    color: goldenrod;
}    

.cta-button {
    background-color: goldenrod;
    color: black;
    box-shadow: 0 4px 15px rgba(212, 175, 55, 0.4);
    text-decoration: none;
    border-radius: 3px;
    padding: 2px 2px 2px 2px;
}

.cta-button:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 20px rgba(212, 175, 55, 0.6);
}

/* this is egypt descreption  */

.egypt-section {
    padding: 6rem 0;
    margin-top: 400px;
}

.egypt-section .container {
    display: flex;
    align-items: center;
    gap: 4rem;
}

.egypt-content {
    flex: 1;
}

.egypt-content h2 {
    font-size: 2.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    color: goldenrod;
}

.egypt-content p {
    margin-bottom: 2rem;
    color: rgba(218, 165, 32, 0.785);
}

.facts-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    margin-bottom: 2rem;
}

.fact-item {
    background-color: rgba(218, 165, 32, 0.89);
    padding: 1.5rem;
    border-radius: 8px;
    text-align: center;
    transition: var(--transition);
}

.fact-item:hover {
    transform: translateY(-5px);
    background-color: rgba(218, 165, 32, 0.89);
    box-shadow: 0px 8px 16px rgba(255, 217, 0, 0.53);
}

.fact-item i {
    font-size: 2rem;
    color: black;
    margin-bottom: 0.5rem;
}



.fact-item h4 {
    font-size: 1.2rem;
    color: black;
}



.egypt-image {
    flex: 1;
    overflow: hidden;
    box-shadow: var(--shadow);
}

.egypt-image img {
    width: 600px;
    height: 500px;
    transition: transform 0.5s ease;
    border-radius: 10px;
}

.egypt-image img:hover  {
    transform: scale(1.05);
}


.cta-button-outline {
    font-size: 25px;
    background-color: transparent;
    color: goldenrod;
    border: 2px solid var(--primary-color);
    text-decoration: none;
    transition: transform 0.5s ease;
}

.cta-button-outline:hover {
    color:rgba(218, 165, 32, 0.619);
    gap: 0.8rem;
    transform: scale(1.3);
}





/* this is card selection */

.section-header {
    text-align: center;
    margin-bottom: 1rem;
}

.section-header h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: goldenrod;
}

.section-header p {
    font-size: 1.1rem;
    color: rgba(218, 165, 32, 0.74);
    max-width: 700px;
    margin: 0 auto;
    margin-bottom: 4rem;
}

.content_home_page_2 {
    padding: 6rem 0;
}

.services-grid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content_home_page_2 .info-box{
    background-color: rgba(218, 165, 32, 0.801);
    flex-direction: column;
    align-items: start;
    width: 30%;
    animation: head 2s ease-in-out;
    height: auto;
    border-radius: 8px;
    box-shadow: 0px 8px 16px rgba(255, 217, 0, 0.792);
    transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out, background-color 0.5s ease, color 0.5s ease;
    margin-bottom: 200px;
    margin-top: 100px;

}
.content_home_page_2 .info-box:hover{
    color: goldenrod;
    background-color: black;
    transform: scale(1.03); 
}
.content_home_page_2 .info-box img{ 
    width: 100%;
    object-fit: cover;
    height: 350px;
    max-height: 100%;
    display: flex;
    border-radius: 20px;
    padding: 10px;
}

.content_home_page_2 .info-box p{
    width: auto;
    direction: ltr;  
    text-align:center;
    padding: 20px;
    flex-wrap: wrap;
    font-weight: bolder;
    font-variant:small-caps;
}

.info-box .discover {
    text-decoration: none;
    background-color: black;
    color: goldenrod;
    border-radius: 8px;
    padding: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-left: 167px;
}
.discover:hover{
    color: black;
    background-color:goldenrod;
    text-decoration: none; 
}


/* this is user reaction */


.testimonials-section {
    background-color: var(--light-color);
    margin-bottom: 0px;
}

.testimonials-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.testimonial-card {
    background: goldenrod;
    border-radius: 10px;
    padding: 2rem;
    box-shadow:0px 8px 16px rgba(255, 217, 0, 0.354);
    transition: all 0.3s ease;
}

.testimonial-card:hover {
    transform: translateY(-10px);
    box-shadow:0px 8px 16px rgba(255, 217, 0, 0.578) ;
}

.rating {
    color: gold;
    margin-bottom: 1rem;
}

.testimonial-content p {
    font-style: italic;
    color: var(--text-light);
    margin-bottom: 1.5rem;
    position: relative;
}

.testimonial-content p::before,
.testimonial-content p::after {
    content: '"';
    font-size: 1.5rem;
    color: var(--primary-color);
    opacity: 0.5;
}

.testimonial-author {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.testimonial-author img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.testimonial-author h4 {
    font-size: 1.1rem;
    color: var(--secondary-color);
}

.testimonial-author span {
    font-size: 0.9rem;
    color: var(--text-light);
    display: block;
}


/* this is newsletter & footer */




.n-f{
    background-color: goldenrod ;
    top: 0;
    left: 0;
    margin-bottom: 0px;
    width: 100%;
    height: 100%;
}

.newsletter-section {
    margin-top: 150px;
    padding: 4rem 0;
    background-color: var(--secondary-color);
    color: var(--white);
    text-align: center;
}

.newsletter-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 0 20px;
}

.newsletter-container h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: black;
}

.newsletter-container p {
    margin-bottom: 2rem;
    color: black;
}

.newsletter-form {
    display: flex;
    max-width: 500px;
    margin: 0 auto;
}

.newsletter-form input {
    flex: 1;
    padding: 12px 20px;
    border: none;
    border-radius: 50px 0 0 50px;
    outline: none;
    font-size: 1rem;
    background-color: white;
    color: goldenrod;
}

.newsletter-form button {
    padding: 12px 25px;
    background-color:black ;
    color: goldenrod;
    border: none;
    border-radius: 0 50px 50px 0;
    font-weight: 500;
    cursor: pointer;
    transition: var(--transition);
}

.newsletter-form button:hover {
    background-color: rgba(0, 0, 0, 0.731);
}



footer {
    width: 100%;
    height: 100%;
    background-color: goldenrod;
    color: black;
    padding: 2rem 5% 0;
    margin-top: 200px;
    margin-bottom: 0px;
    border-radius: 5px;
}

.footer-content {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 2rem;
    gap: 250px;
}

.footer-section {
    flex: 1;
    padding: 0 1rem;
    margin-top: 1px;
    display: flex;
    flex-direction: column;
}

.footer-section h3 {
    font-size: 25px;
    color: black;
    font-weight: bold;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    margin-bottom: 15px;
    display: inline-block;
    width: fit-content;

}

.footer-section p {
    font-size: 15px;
    display: flex;
    flex-direction: column;
}

.footer-section ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-section ul a {
    margin-bottom: 0.5rem;
    font-size: 15px;
    color: black;
    text-decoration: none;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

.social-icons {
    display: flex;
    gap: 2rem;
}

.social-icons a {
    color: black;
    font-size: 1.5rem;
}

.social-icons a :hover{
    transform: scale(1.3);
}
.footer-bottom {
    text-align: center;
    padding: 1rem;
    border-top: 1px solid black;
    font-size: 0.9rem;
    color: #333;
    padding-top: 1rem;
    margin-top: 1rem;
    background-color: goldenrod;
}