@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    font-family: "Ubuntu", sans-serif;
    padding: 0;
    margin: 0;
}
a{
    padding: 5px;
    border-radius: 10px ;
    border: 5px burlywood double;
    color:goldenrod;
    text-decoration: none;
}
body{
    height: 100vh;
    display: flex;
}
.container{
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.183),rgba(0, 0, 0, 0.776)), 
    url(photo/wallpaperflare.com_wallpaper__7_.jpg);
    width: 100%;
    background-repeat:no-repeat;
    background-size: cover;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.logo{
    border-radius: 15px;
    font-size: 40px;
    font-weight: bold;
    word-spacing: 10px;
    text-transform: uppercase;
    color: burlywood;
    border: 10px burlywood solid;
    margin: 20px;
    padding: 20px;
    font-family:serif;
}
ul{
    width: 60%;
    font-size: 20px;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}
.aa:hover{
    color: black;
    background-color: burlywood;
    border-radius: 10px;
    padding: 5px;
    border: 5px burlywood double;
    margin-left: 20px;
    transition: 0.5s;
    
}
