body{
    background-color: rgb(53, 22, 22);
}
::selection{
    background-color: rgb(128, 129, 116);
}
a:hover{
    color: rgb(245, 245, 220);
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    transition: all 0.3s ease-out;
}
/* Main page title */
.head{
    background-color: beige;
    text-align: center;
    font-family: garamond;
    color: rgb(53, 22, 22);
    font-size: 5em;
    border-radius: 20px;
    padding: 5px;
    margin: 50px;

}
/* Image and description section */
.pyramids-photo{
    width: 400px;
    height: 600px; ;
    border: 3px solid white;
    border-radius: 10px;
    margin-left: 15px;
    margin-right: 15px;
  
    
}

.text1,.desc-1{
    display: flex;
    font-weight: 700;
    font-size: 1.5em;
    color: beige;    
    text-shadow: 2px 2px 4px black;
    line-height: 70px;
}
/* table */
table{
    width: 100%;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    background-color: beige;
    border-spacing: 10px;
    color: rgb(53, 22, 22);
    font-size: 1.5em;
    text-align: center;
    padding: 10px;
    margin: 10px;
    border-spacing: 0px;
}
th{
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(53, 22, 22);
    color: beige;
    font-size: 2em;
    text-align: center;
    padding: 10px;
}
td{
    line-height: 70px;
    border: 2px solid rgb(0, 0, 0);
    background-color: beige;
    color: rgb(53, 22, 22);
    font-size: 1.5em;
    text-align: center;
    padding: 10px;
}
hr{
    border: 3px solid beige;
    width: 100%;
    margin: 20px;
}

/* this is video section */
video{
    width: 70%;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 5px 5px 15px black;
    border: 2px solid white;
}
.video-container{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
}
.video-text{  
    font-family: garamond;
    border: 5px solid beige;
    padding: 10px;
    border-radius: 15px;
    color: beige;
    margin: 15px;
    font-size: 2em;
    text-shadow: 5px 5px 20px rgb(0, 0, 0);
    text-align: center;
}
/* the footer */
footer {
    width: 100%;
    padding: 0;
    margin: 0;
    border: none;
}

footer img {
    width: 100%;
    height: 500px;
    display: block;
    border-radius: 0;
}

.footer-image {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
}



.footer-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: rgba(0, 0, 0, 0.3); 
    flex-wrap: wrap;
    padding: 20px;
}

.visit-box {
    background-color: transparent;
    border: 1px solid beige;
    padding: 15px 25px;
    color: beige;
    font-size: 25px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    text-align: center;
    backdrop-filter: blur(3px); 
    -webkit-backdrop-filter: blur(10px); 
}
.kings {
    margin: auto;
    display: block;
    width: 200px;
    height: 250px;
    border-radius: 10px;
    border: 2px solid black;
}
.pic2 {
    margin: auto;
    display: block;
    width: 700px;
    height: 600px;
    border-radius: 15px;
    border: 3px solid white;

}
