body{
    background: url(photo/IMG_8590.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    background-position:center ;
    

}
.header{
    font-size: 50px;
    font-style: italic;
    font-weight: bold;
    color: burlywood;

    padding: 20px;
    text-align: center;
}

.Login{
    font-size: 23px;
    width: 300px;
    margin: 0 auto;
    padding: 30px;
    border: 10px double burlywood;
    border-radius: 5px;
    
}
.btn{
    background-color: burlywood;
    color: black;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #000000;
    margin: 5px;
    cursor: pointer;
    padding-right: 30px;
}
.warning{
    color: red;
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
  
    
}
.a1{
    text-decoration: none;
    color: black;
    font-size: 25px;
    padding: 5px;
    border-radius: 10px ;
    border: 5px burlywood double;
    margin-left: 20px;
    margin-top: 20px;
    display: inline-block;
}
.message{
    width: 150px;
    background-color: burlywood;
    font-size: 30px;
    color: black;
    text-align:left;
    margin-top: 20px;
    margin-bottom: 20px;
}
