body {
    background-color: rgb(53, 22, 22);
    display: flex;
}

::selection {
    background-color: rgb(128, 129, 116);
}

.logo {
    background-color: beige;
    text-align: center;
    font-family: garamond;
    color: #708238;
    font-size: 30px;
    border-radius: 20px;
    padding: 5px;
    margin: 50px;
    border: #708238 solid 5px;
}

.image-text-container {
    display: flex;
    margin: 30px;
    gap: 100px; /* مسافة بين الصورة والنص */
}

.siwa-image {
    width: 600px;
    height: 725px;
    border-radius: 15px;
    border: #708238 solid 5px;
}
.siwa-image:hover {
    transform: scale(1.02); 
    transition: transform 0.3s ease;
}
.siwa-description {
    color: beige;
    font-size: 36px;
    text-shadow: 2px 2px 4px black;
    max-width: 800px;
    line-height: 1.8; 

}
.Activitie_h1 {
    color:#708238 ;
    font-size: 50px;
    text-shadow: 2px 2px 4px black;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    background-color: beige;
    width: 600px;
    border-radius: 30px;
}
.activities-container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: flex-start;
    flex-wrap: wrap; /* لو الشاشة صغيرة يخليهم تحت بعض */
  }
  
.activity-list {
    color: beige;
    font-size: 1.2em;
    text-shadow: 2px 2px 4px black;
    font-size: 28px;
  }
ul{
    list-style: inside;/* إزالة النقاط من القائمة */
    list-style-type:decimal ;

} 
li{
    margin: 15px 0; /* مسافة بين العناصر */
    padding: 5px; /* مسافة داخل العنصر */
    border-radius: 10px; /* زوايا دائرية */
    background-color: rgba(255, 217, 0, 0.16); /* لون الخلفية */
    transition: background-color 0.3s ease; /* تأثير الانتقال */
}
li:hover {
    background-color: rgba(255, 217, 0, 0.5); /* لون الخلفية عند التمرير */
    color: black; /* لون النص عند التمرير */
    border-radius: 10px; /* زوايا دائرية */
    padding: 5px; /* مسافة داخل العنصر */
    transition: background-color 0.3s ease; /* تأثير الانتقال */
}
  
.video-box {

    width: 1000px; /* عرض مناسب للفيديو */
}

.video-box video {
    width: 100%;
    height: auto;
    border-radius: 15px;
    
}
.map-section {
    text-align: right;
    margin-top: 50px;
  }
  
  .map-title {
    color: #708238;
    font-size: 40px;
    margin-bottom: 20px;
    background-color: beige;
    padding-right: 45px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 500px; 
    translate: 1000px -10px;
    border-radius: 20px;

  }
  
  .map-container iframe {
    border-radius: 15px;
    max-width: 90%;
    border: #708238 solid 5px;
    
  }
  
