/*div{
    background-color:rgb(255, 0, 0);
    height: 50px;
    width: 500px;
}
.abd{
color: brown;
text-align: center;
border: 10px black solid;
border-radius: 10px ;
}
.zz{
    background-color: rgb(0, 255, 0);
  
    
}*/
body{
    background-image:url(https://www.sqorebda3.com/vb/attachments/28268/);
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
    

}

h1{
    font-weight: 900;
    font-style: italic;
    font-size: 50px;
    color: whitesmoke;
    padding: 50px 100px 50px 100px;
    border: 10px rebeccapurple solid;
    border-radius: 40px;
    width: 1000px;
    margin: 100px 400px 100px 400px;
    

}
@import url('https://fonts.googleapis.com/css2?family=Underdog&display=swap');

#kill {
    border-top : 10px  solid black  ;
    border-right : 10px  solid black  ;
    border-left : 10px  solid black  ;
    border-bottom: 10px  solid black ;
    border-radius : 40px;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:red;

    text-align: center;
    
}

.di{
    height: 200px;
    color: darkgray;
    text-align: center;
    font-style: italic;
    font-family: serif;
    font-size: 100px;
    border-bottom : 10px  solid black  ;
    border-right : 10px  solid black  ;
    border-left : 10px  solid black  ;
 
    background-image: linear-gradient(to right,black 45%,red 55% 65%, transparent);
    background-position: left;
    top: 300px;
}
h2{
    font-weight: 900;
    font-style: italic;
    font-size: 50px;
    color: red;
    padding: 50px 100px 50px 100px;
    border: 10px crimson;
    border-radius: 40px;
    width: 300px;
    margin: 100px 600px 100px 600px;
    
}
ul, ol{
    list-style-position: inside ;
    list-style-type: decimal-leading-zero;
    
}
li{
font-size: xx-large;
width: 100PX;
    background: crimson ;
}
.osama{
    border: 10px black solid;
   position: absolute;
  top: 100;
  left: 100;

}
.zoz{
    width: 50px;
    height: auto;
    border: 10px black solid;
   position:-webkit-sticky;
  top: 100;
  right: 100;

}

/*
font: font-style font-variant font-weight font-size font-family ;

*/
