@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    font-family: "Ubuntu", sans-serif;
    padding: 0;
    margin: 0;
}
a{
    padding: 5px;
    border-radius: 10px ;
    border: 5px burlywood double;
    color:goldenrod;
    text-decoration: none;
}
body{
    height: 100vh;
    display: flex;
}
.container{
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.121),rgba(0, 0, 0, 0.897)), 
    url(photo/wallpaperflare.com_wallpaper__1_.jpg);
    background-attachment:scroll;
    width:100%;
    height: 100%;
    background-repeat:no-repeat;
    background-size: cover;
    flex-grow:3;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.logo{
    border-radius: 15px;
    font-size: 70px;
    font-weight: bold;
    word-spacing: 10px;
    text-transform: uppercase;
    color: rgb(245, 221, 191);
    border: 10px rgb(240, 216, 183) solid;
    margin: 20px;
    padding: 20px;
    font-family:serif;
}
ul{
    width: 60%;
    font-size: 25px;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}
li:hover{
    background-color: rgba(240, 255, 255, 0.251);
};

