@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    font-family: "Ubuntu", sans-serif;
    padding: 0;
    margin: 0;
}
a{
    color: white;
    text-decoration: none;
}
body{
    height: 100vh;
    display: flex;
}
.container{
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.183),rgba(0, 0, 0, 0.776)), url(photo/94a8c96e916653f9a948442bba9c3a24.jpg);
    width: 100%;
    background-repeat:no-repeat;
    background-size: cover;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.logo{
    font-size: 40px;
    font-weight: bold;
    word-spacing: 10px;
    text-transform: uppercase;
}
ul{
    width: 60%;
    font-size: 20px;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}
li:hover{
    background-color: rgba(240, 255, 255, 0.251);
}